<?php
/** @var \OnTap\CompanyAccount\Block\Checkout\Multishipping\CreateAddressPermissionCheck $block */
?>
<div id="create_address_checker"></div>
<script type="text/x-magento-init">
    {
        "#create_address_checker": {
            "OnTap_CompanyAccount/js/checkout/cant-create-address-checkout": {
                "cantCreateAddress": <?= $block->getSerializer()->serialize($block->cantCreateAddress()) ?>
            }
        }
    }
</script>
