<?php

/** @var \OnTap\CompanyAccount\Block\Role\Index $block */
/** @var \Magento\Framework\Escaper $escaper */
$roles = $block->getItems();
?>

<div class="row">
    <div class="actions-toolbar col-12 mb-4">
        <a class="btn btn-primary btn-lg" href="<?= $escaper->escapeUrl($block->getCreateUrl()) ?>" role="button"><?= $escaper->escapeHtml(__('New Role')) ?></a>
    </div>
</div>
<?php if (count($roles) > 0) : ?>
<?php $maxOrderPerDay = $block->getMaxOrderPerDay() ?>
<?php $maxOrderAmount = $block->getMaxOrderAmount() ?>
<div class="row">
    <div class="table-responsive container col-12">
        <table class="dataTable table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col"><?= $escaper->escapeHtml(__('Role #')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Role Name')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Permissions')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Actions')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php /** @var \OnTap\CompanyAccount\Api\Data\SubRoleInterface $role */ ?>
            <?php foreach ($roles as $role) : ?>
                <tr>
                    <th scope="row"><?= $escaper->escapeHtml($role->getRoleId()) ?></th>
                    <td><?= $escaper->escapeHtml($role->getRoleName()) ?></td>
                    <td><?= $escaper->escapeHtml($block->formatPermission($role->getRoleType())) ?></td>
                    <td class="grid_actions">
                        <a class="btn btn-info" href="<?= $escaper->escapeUrl($block->getEditUrl($role)) ?>"
                           aria-label=" <?= $escaper->escapeHtmlAttr(__('Edit')) ?>">
                            <i class="c-icon cil-description"></i>
                        </a>

                        <button class="btn btn-danger _delete"
                           data-id="<?= $escaper->escapeHtml($role->getRoleId()) ?>"
                           data-mage-init='{
                            "OnTap_CompanyAccount/js/modal/confirmation":
                                {
                                    "url": "<?= $escaper->escapeUrl($block->getDeleteUrl($role)) ?>",
                                    "modalClass": "modal-danger"
                                }
                            }'>
                            <i class="c-icon cil-trash"></i>
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>

    <?php if ($pager = $block->getChildHtml('pager')) : ?>
            <?= $pager ?>
    <?php endif; ?>
    <?php else : ?>
        <div class="message info empty">
            <span><?= $escaper->escapeHtml(__('There are no roles created.')) ?></span>
        </div>
    <?php endif; ?>

</div>
