<!--
 -->
<!--@subject Your account has been removed! @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Dear %name," name=$name}}</p>
<p>Your account was removed from company account.</p>
{{template config_path="design/email/footer_template"}}
