<!--
-->
<!--@subject {{trans "Welcome from %store_name! Your account has been approved!" store_name=$store.frontend_name}} @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Dear %name," name=$name}}</p>
<p>Welcome to our website. Your new customer account has now become a company acocunt!</p>
{{template config_path="design/email/footer_template"}}
