<!--
-->
<!--@subject {{trans "Edit your %store_name password" store_name=$store.frontend_name}} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hi %name," name=$subUser.sub_name}}</p>
<p>{{trans "You are request to update your password!"}}</p>
<p>{{trans "Please set a new password here:"}} <strong><a href="{{var this.getUrl($store,'companyaccount/subuser/createpassword',[_query:[token:$subUser.token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</a></strong></p>
<p>{{trans "The link will expire after about 3 days."}}</p>
<p>{{trans "If you have any questions, please contact your administrator: %email." email=$companyAccountEmail}}</p>

{{template config_path="design/email/footer_template"}}
