<!--
 -->
<!--@subject {{trans "Please confirm your new account with %store_name" store_name=$store.frontend_name}} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hi %name," name=$subUser.sub_name}}</p>
<p>{{trans "You have been invited to account the website by %email company account!" email=$companyAccountEmail}}</p>
<p>{{trans "Please set a new password here:"}} <strong><a href="{{var this.getUrl($store,'companyaccount/subuser/createpassword',[_query:[token:$subUser.token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</strong></p>
<p>{{trans "The link above will expire after about 3 days."}}</p>
<p>{{trans "If you have any questions, please contact your administrator: %email." email=$companyAccountEmail}}</p>

{{template config_path="design/email/footer_template"}}

