<!--
-->
<!--@subject Your account was removed @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Hi %name," name=$subUser.sub_name}}</p>
<p>{{trans "Your account is removed from %email's company account!" email=$companyAccountEmail}}</p>

<p>{{trans "If you have any questions, please contact your administrator: %email." email=$companyAccountEmail}}</p>

{{template config_path="design/email/footer_template"}}
