<?php
/** @var $block \OnTap\CompanyAccount\Block\Role\Edit */
/** @var $escaper \Magento\Framework\Escaper */
?>
<div class="card">
    <div class="card-header">
        <strong><?= $escaper->escapeHtml(__('Role Information')) ?></strong>
    </div>

    <form action="<?= $escaper->escapeUrl($block->getSaveUrl()) ?>"
          method="post"
          autocomplete="off"
          id="form-validate"
          class="form sub-user-edit"
          data-mage-init='{"validation":{}}'>
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= $escaper->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $escaper->escapeUrl($block->getErrorUrl()) ?>">
        <div class="card-body">
            <fieldset class="fieldset" data-hasrequired="<?= $escaper->escapeHtmlAttr(__('* Required Fields')) ?>">

                <div class="field role-name required form-group">
                    <label for="sub-role-name" class="label">
                        <span><?= $escaper->escapeHtml(__('Role Name')) ?></span>
                    </label>
                    <input type="text"
                           name="role_name"
                           id="sub-role-name"
                           class="input-text role-name form-control"
                           value="<?= $block->getRole()->getRoleName() ?>"
                           placeholder="<?= $block->escapeHtmlAttr(__('Enter role name')) ?>"
                           data-validate="{required:true}"/>
                </div>
                <div class="field permissions">
                    <label for="permissions" class="label">
                        <span><?= $block->escapeHtml(__('Permissions')) ?></span>
                    </label>
                    <div class="input-text tree x-tree" data-rule="rule-tree" data-mage-init='<?=
                    $escaper->escapeHtmlAttr(
                        $block->getSerializer()->serialize(
                            [
                                'OnTap_CompanyAccount/js/role/role-tree-view' => [
                                    'treeInitData'         => $block->getDataRules(),
                                    'treeInitSelectedData' => $block->getSelectedRules()
                                ]
                            ]
                        )
                    ) ?>'></div>
                </div>
            </fieldset>
        </div>
        <div class="card-footer my-4">
            <a class="btn btn-secondary btn-lg" role="button" href="<?= $escaper->escapeUrl($block->getBackUrl()) ?>"
               title="<?= $escaper->escapeHtmlAttr('Back') ?>">
                <i class="cil-arrow-left align-middle"></i>
                <?= $escaper->escapeHtmlAttr('Back') ?>
            </a>
            <button id="save-submit" disabled type="submit" class="btn btn-primary submit ml-4 btn-lg"
                    title="<?= $escaper->escapeHtml(__('Save Role')) ?>">
                <span><?= $escaper->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
    </form>
</div>
