<?php

/** @var \OnTap\CompanyAccount\Block\SubUser\ResetPassword $block */

?>

<form action="<?= $block->escapeUrl($block->getUrl('*/*/ResetPasswordPost')) ?>"
      method="post"
      autocomplete="off"
      id="form-validate"
      class="form password"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset password" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <legend class="legend"><span data-title="change-email-password"><?= $block->escapeHtml(__('Change Password')) ?></span></legend><br>
        <div class="field password current required form-group">
            <label class="label" for="current-password"><span><?= $block->escapeHtml(__('Current Password')) ?></span></label>
            <div class="control">
                <input type="password"
                       class="input-text form-control"
                       name="current_password"
                       id="current-password"
                       data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       data-input="current-password"
                       autocomplete="off" />
            </div>
        </div>
        <div class="field password required form-group" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label class="label" for="password"><span><?= $block->escapeHtml(__('New Password')) ?></span></label>
            <div class="control">
                <input type="password" class="input-text form-control" name="password" id="password"
                       data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= $block->escapeHtml(__('Password Strength')) ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirmation required form-group">
            <label class="label" for="password-confirmation"><span><?= $block->escapeHtml(__('Confirm New Password')) ?></span></label>
            <div class="control">
                <input type="password" class="input-text form-control" name="password_confirmation" id="password-confirmation" data-validate="{required:true,equalTo:'#password'}" autocomplete="off">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit btn btn-primary" title="<?= $block->escapeHtml(__('Update Password')) ?>">
                <span><?= $block->escapeHtml(__('Update Password')) ?></span>
            </button>
        </div>
    </div>
</form>
