<?php

/** @var $block \OnTap\CompanyAccount\Block\SubUser\Edit */
/** @var $escaper \Magento\Framework\Escaper */
?>
<div class="card">
    <div class="card-header">
        <strong><?= $escaper->escapeHtml(__('User Information')) ?></strong>
    </div>
    <form action="<?= $escaper->escapeUrl($block->getSaveUrl()) ?>"
         method="post"
         autocomplete="off"
         id="form-validate"
         class="form sub-user-edit"
         data-mage-init='{"validation":{}}'>
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= $escaper->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $escaper->escapeUrl($block->getErrorUrl()) ?>">

        <div class="card-body">
            <fieldset class="fieldset" data-hasrequired="<?= $escaper->escapeHtmlAttr(__('* Required Fields')) ?>">

                <div class="field status required form-group">
                    <label class="label" for="status"><span><?= $escaper->escapeHtml(__('Status')) ?></span></label>
                    <select class="input-text status form-control"
                            name="sub_status"
                            id="status"
                            data-validate="{required:true}">
                        <?= $block->getEnableDisableOptions() ?>
                    </select>
                </div>
                <div class="field sub-name required form-group">
                    <label for="sub-user-name" class="label">
                        <span><?= $escaper->escapeHtml(__('User\'s Name')) ?></span>
                    </label>
                    <input type="text"
                           name="sub_name"
                           id="sub-user-name"
                           class="input-text sub-name form-control"
                           value="<?= $block->getSubUser()->getSubUserName() ?>"
                           placeholder="<?= $escaper->escapeHtmlAttr(__('Enter fullname')) ?>"
                           data-validate="{required:true}"/>
                </div>
                <div class="field sub-email required form-group">
                    <label for="sub-user-email" class="label">
                        <span><?= $escaper->escapeHtml(__('User\'s Email')) ?></span>
                    </label>
                    <input type="text"
                           name="sub_email"
                           id="sub-user-email"
                        <?= $block->isDisabledEmail() ? 'disabled' : '' ?>
                           class="input-text sub-email form-control"
                           value="<?= $block->getSubUser()->getSubUserEmail() ?>"
                           placeholder="<?= $escaper->escapeHtmlAttr(__('Enter email address')) ?>"
                           data-validate="{required:true, 'validate-email':true, 'remote':'<?= $block->getValidateUniqueSubMailUrl() ?>'}"/>
                </div>
                <div class="field sub-role required form-group">
                    <label for="sub-user-role" class="label">
                        <span><?= $escaper->escapeHtml(__('Role')) ?></span>
                    </label>
                    <select name="role_id"
                            id="sub-user-role"
                            class="input-text sub-role form-control"
                            data-validate="{required:true}">
                        <?= $block->getRoleOptions() ?>
                    </select>
                </div>
            </fieldset>
        </div>
        <div class="card-footer my-4">
            <a class="btn btn-secondary btn-lg " role="button" href="<?= $escaper->escapeUrl($block->getBackUrl()) ?>"
               title="<?= $escaper->escapeHtmlAttr('Back') ?>">
                <i class="cil-arrow-left align-middle"></i>
                <?= $escaper->escapeHtmlAttr('Back') ?>
            </a>
            <button type="submit" class="btn btn-primary submit ml-4 btn-lg" role="button"
                    title="<?= $escaper->escapeHtml(__('Save User')) ?>">
                <span><?= $escaper->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
    </form>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "OnTap_CompanyAccount/js/sub-user/sub-user-edit": {}
        }
    }
</script>
