<?php
/** @var $block \OnTap\CompanyAccount\Block\Sales\SubInfo */

use OnTap\CompanyAccount\Api\Data\SubUserInterface as SubUser;

$subUserInfo = $block->getSubUserInfo();
?>
<?php if (!empty($subUserInfo)) : ?>
    <section class="admin__page-section order-addresses">
        <div class="admin__page-section-title">
            <span class="title"><?= $block->escapeHtml(__('Ordered Sub-user Information')) ?></span>
        </div>
        <div class="admin__page-section-content">
            <div class="admin__page-section-item order-billing-address">
                <info class="admin__page-section-item-content">
                    <div class="admin__page-section-item-content">
                        <strong><?= $block->escapeHtml(__("Sub-Name: ")) ?></strong>
                        <span class="price"><?= $block->escapeHtml($subUserInfo[SubUser::NAME]) ?></span>
                    </div>
                    <div class="admin__page-section-item-content">
                        <strong><?= $block->escapeHtml(__("Sub-Email: ")) ?></strong>
                        <span class="price"><?= $block->escapeHtml($subUserInfo[SubUser::EMAIL]) ?></span>
                    </div>
                    <div class="admin__page-section-item-content">
                        <strong><?= $block->escapeHtml(__("Role: ")) ?></strong>
                        <span class="price"><?= $block->escapeHtml($subUserInfo['role_name']) ?></span>
                    </div>
                </info>
            </div>
        </div>
    </section>
<?php endif; ?>
