<?php

// phpcs:disable Magento2.Templates.ThisInTemplate

/* @var \Magento\Sales\Block\Adminhtml\Order\Creditmemo\View\Form $block */
/* @var \OnTap\CompanyAccount\ViewModel\RegistryData $viewModel */
$viewModel = $block->getViewModel();
?>
<?php  $_order = $block->getCreditmemo()->getOrder() ?>
<?= $block->getChildHtml('order_info') ?>
<?= $block->getChildHtml('sub_user_information') ?>
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Payment &amp; Shipping Method')) ?></span>
    </div>
    <div class="admin__page-section-content">

        <?php if (!$_order->getIsVirtual()) : ?>
        <div class="admin__page-section-item order-payment-method">
        <?php else : ?>
        <div class="admin__page-section-item order-payment-method order-payment-method-virtual">
        <?php endif; ?>
            <?php /* Billing Address */?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Payment Information')) ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <div class="order-payment-method-title"><?= $block->getChildHtml('order_payment') ?></div>
                <div class="order-payment-currency"><?= $block->escapeHtml(__('The order was placed using %1.', $_order->getOrderCurrencyCode())) ?></div>
                <div class="order-payment-additional"><?= $block->getChildHtml('order_payment_additional') ?></div>
            </div>
        </div>

        <?php if (!$_order->getIsVirtual()) : ?>
        <div class="admin__page-section-item order-shipping-address">
            <?php /* Shipping Address */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Shipping Information')) ?></span>
            </div>
            <div class="shipping-description-wrapper admin__page-section-item-content">
                <div class="shipping-description-title"><?= $block->escapeHtml($_order->getShippingDescription()) ?></div>
                <div class="shipping-description-content">
                    <?= $block->escapeHtml(__('Total Shipping Charges')) ?>:

                    <?php if ($viewModel->getTaxHelper()->displayShippingPriceIncludingTax()) : ?>
                        <?php $_excl = $block->displayShippingPriceInclTax($_order); ?>
                    <?php else : ?>
                        <?php $_excl = $block->displayPriceAttribute('shipping_amount', false, ' '); ?>
                    <?php endif; ?>
                    <?php $_incl = $block->displayShippingPriceInclTax($_order); ?>

                    <?= /* @noEscape */ $_excl ?>
                    <?php if ($viewModel->getTaxHelper()->displayShippingBothPrices() && $_incl != $_excl) : ?>
                        (<?= $block->escapeHtml(__('Incl. Tax')) ?> <?= /* @noEscape */ $_incl ?>)
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
</section>
<?php $_items = $block->getCreditmemo()->getAllItems() ?>

<?php if (count($_items)) : ?>
<div id="creditmemo_items_container">
    <?= $block->getChildHtml('creditmemo_items') ?>
</div>
<?php else : ?>
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Items Refunded')) ?></span>
    </div>
    <div class="no-items admin__page-section-content"><?= $block->escapeHtml(__('No Items')) ?></div>
</section>
<?php endif; ?>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Memo Total')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-comments-history">
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Credit Memo History')) ?></span>
            </div>
            <div class="admin__page-section-item-content"><?= $block->getChildHtml('order_comments') ?></div>
        </div>
        <div class="admin__page-section-item order-totals" id="history_form">
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Credit Memo Totals')) ?></span>
            </div>
            <div class="admin__page-section-content"><?= $block->getChildHtml('creditmemo_totals') ?></div>
        </div>
    </div>
</section>
