<?php
//phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
//phpcs:disable Magento2.Files.LineLength.MaxExceeded
/* @var \OnTap\CompanyAccount\ViewModel\RegistryData $viewModel */
$viewModel = $block->getViewModel();
?>
    <form id="edit_form" method="post" action="<?= $block->escapeUrl($block->getSaveUrl()) ?>">
        <?= $block->getBlockHtml('formkey') ?>
        <?php  $_order = $block->getShipment()->getOrder() ?>
        <?= $block->getChildHtml('order_info') ?>

        <!-- Sub-user information -->
        <?= $block->getChildHtml('sub_user_information') ?>

        <div class="admin__page-section">
            <div class="admin__page-section-title">
                <span class="title"><?= $block->escapeHtml(__('Payment &amp; Shipping Method')) ?></span>
            </div>
            <div class="admin__page-section-content">
                <div class="admin__page-section-item order-payment-method">
                    <?php /* Billing Address */ ?>
                    <div class="admin__page-section-item-title">
                        <span class="title"><?=$block->escapeHtml(__('Payment Information')) ?></span>
                    </div>
                    <div class="admin__page-section-item-content">
                        <div><?= $block->getPaymentHtml() ?></div>
                        <div class="order-payment-currency"><?= $block->escapeHtml(__('The order was placed using %1.', $_order->getOrderCurrencyCode())) ?></div>
                    </div>
                </div>
                <div class="admin__page-section-item order-shipping-address">
                    <?php /* Shipping Address */ ?>
                    <div class="admin__page-section-item-title">
                        <span class="title"><?= $block->escapeHtml(__('Shipping Information')) ?></span>
                    </div>
                    <div class="admin__page-section-item-content shipping-description-wrapper">
                        <div class="shipping-description-title">
                            <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                        </div>
                        <div class="shipping-description-content">
                            <?= $block->escapeHtml(__('Total Shipping Charges')) ?>:

                            <?php if ($viewModel->getTaxHelper()->displayShippingPriceIncludingTax()) : ?>
                                <?php $_excl = $block->displayShippingPriceInclTax($_order); ?>
                            <?php else : ?>
                                <?php $_excl = $block->displayPriceAttribute('shipping_amount', false, ' '); ?>
                            <?php endif; ?>
                            <?php $_incl = $block->displayShippingPriceInclTax($_order); ?>
                            <?= /** @noEscape */ $_excl ?>
                            <?php if ($viewModel->getTaxHelper()->displayShippingBothPrices()
                                && $_incl != $_excl) : ?>
                                (<?= $block->escapeHtml(__('Incl. Tax')) ?> <?= /** @noEscape */ $_incl ?>)
                            <?php endif; ?>
                        </div>
                    </div>
                    <div><?= $block->getChildHtml('shipment_tracking') ?></div>
                </div>
            </div>
        </div>
        <div><?= $block->getChildHtml('extra_shipment_info') ?></div>
        <div id="ship_items_container">
            <?= $block->getItemsHtml() ?>
        </div>
    </form>
    <script>
        require([
            "jquery",
            "mage/mage",
            "prototype"
        ], function(jQuery){
            jQuery('#edit_form').mage('form').mage('validation');

        });
    </script>
<?= $block->getChildHtml('shipment_packaging');
