& when (@media-common = true) {
    @font-face {
        font-family: 'material-icons';
        font-style: normal;
        font-weight: 400;
        src: url("@{baseDir}OnTap_CompanyAccount/fonticons/MaterialIcons-Regular.eot");
        src: url("@{baseDir}OnTap_CompanyAccount/fonticons/MaterialIcons-Regular.eot?#iefix") format('embedded-opentype'),
            url("@{baseDir}OnTap_CompanyAccount/fonticons/MaterialIcons-Regular.woff2") format('woff2'),
            url("@{baseDir}OnTap_CompanyAccount/fonticons/MaterialIcons-Regular.woff") format('woff'),
            url("@{baseDir}OnTap_CompanyAccount/fonticons/MaterialIcons-Regular.ttf") format('truetype');
    }
    div.ontap-help-block {
        font-size: 1.2rem;
        margin-top: 5px;
    }
    .float-left {
        float: left;
    }
    .padding-top-bottom-7 {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .padding-left-right-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .data.table {
      a:hover, .alink:hover {
          color: #006bb4;
          text-decoration: none;
      }
    }
    .material-icons {
        font-family: 'material-icons';
        font-weight: normal;
        font-style: normal;
        font-size: 1.4rem;  /* Preferred icon size */
        display: inline-block;
        text-transform: none;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        speak: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }
}
