<?php
/**
 * Copyright (c) On Tap Networks Limited.
 */

/** @var \OnTap\CompanyAccount\Block\Company\Index $block */
?>

<div class="company-details">
    <div class="row">
        <div class="col-1 text-right">
            Name:
        </div>
        <div class="col-11">
            <strong><?= $block->getCompanyName(); ?></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
       <div class="col-11">
            <img src="<?= $block->getLogo(); ?>" height="80"/>
        </div>
    </div>
</div>


