<?php

/** @var \OnTap\CompanyAccount\Block\SubUser\Index $block */
/** @var \Magento\Framework\Escaper $escaper */

$users = $block->getItems();
?>
<div class="row">
    <div class="actions-toolbar col-12 mb-4">
        <a href="<?= $escaper->escapeUrl($block->getCreateUrl()) ?>" class="btn btn-primary btn-lg" role="button">
            <?= $escaper->escapeHtml(__('New User')) ?>
        </a>
    </div>
</div>

<?php if (count($users)) : ?>
<div class="row">
    <div class="table-responsive container col-12">
        <table id="my-sub-user-table" class="dataTable table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col"><?= $escaper->escapeHtml(__('User #')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Name')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Email')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Role')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Status')) ?></th>
                <th scope="col"><?= $escaper->escapeHtml(__('Actions')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php /** @var \OnTap\CompanyAccount\Api\Data\SubUserInterface $user */ ?>
            <?php foreach ($users as $user) : ?>
                <tr>
                    <th>
                        <?= $escaper->escapeHtml($user->getSubUserId()) ?>
                    </th>
                    <td>
                        <?= $escaper->escapeHtml($user->getSubUserName()) ?>
                    </td>
                    <td>
                        <a href="mailto:<?= $escaper->escapeHtml($user->getSubUserEmail()) ?>">
                            <?= $escaper->escapeHtml($user->getSubUserEmail()) ?>
                        </a>
                    </td>
                    <td>
                        <?= $escaper->escapeHtml($user->getData('role_name')) ?>
                    </td>
                    <td>
                        <?= $escaper->escapeHtml(__(ucfirst($user->getStatusLabel()))) ?>
                    </td>
                    <td class="grid_actions">
                        <a class="btn btn-info" href="<?= $escaper->escapeUrl($block->getEditUrl($user)) ?>"
                           aria-label=" <?= $escaper->escapeHtmlAttr(__('Edit')) ?>">
                            <i class="c-icon cil-description"></i>
                        </a>
                        <button class="btn btn-secondary"
                                data-id="<?= $escaper->escapeHtml($user->getSubUserId()) ?>"
                                data-mage-init='{
                            "OnTap_CompanyAccount/js/modal/confirmation":
                                {
                                    "url": "<?= $escaper->escapeUrl($block->getResetPasswordUrl($user)) ?>",
                                    "modalClass": "modal-danger",
                                    "title": "<?= $escaper->escapeJs(__('Reset Password'))?>",
                                    "content": "<?= $escaper->escapeJs(__('Are you sure you want to send a reset password mail to this user?'))?>"
                                }
                            }'>
                            <i class="c-icon cil-reload"></i>
                        </button>
                        <button class="btn btn-danger" data-modal-class="modal-danger"
                           data-id="<?= $escaper->escapeHtml($user->getSubUserId()) ?>"
                                data-mage-init='{
                                "OnTap_CompanyAccount/js/modal/confirmation":
                                    {
                                        "url": "<?= $escaper->escapeUrl($block->getDeleteUrl($user)) ?>",
                                        "modalClass": "modal-danger"
                                    }
                                }'>
                            <i class="c-icon cil-trash"></i>
                        </button>

                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>

    <?php if ($pager = $block->getChildHtml('pager')) : ?>
        <?= $pager ?>
    <?php endif; ?>

    <?php else : ?>
        <div class="message info empty"><span><?= $escaper->escapeHtml(__('There are no users created.')) ?></span>
        </div>
    <?php endif; ?>
</div>
