<?php
/** @var $block \OnTap\CompanyAccount\Block\Sales\Order\View\SubUserInfo */
use OnTap\CompanyAccount\Api\Data\SubUserInterface as SubUser;

$subUserInfo = $block->getSubUserInfo();

?>
<?php if (!empty($subUserInfo)) : ?>
    <div class="block block-order-details-view">
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Ordered Sub-user Information')) ?></strong>
        </div>
        <div class="block-content">
            <div>
                <strong><?= $block->escapeHtml(__('Sub-Name')) ?>:&nbsp;</strong>
                <span><?= $block->escapeHtml($subUserInfo[SubUser::NAME]) ?></span>
            </div>
            <div>
                <strong><?= $block->escapeHtml(__('Sub-Email')) ?>:&nbsp;</strong>
                <span><?= $block->escapeHtml($subUserInfo[SubUser::EMAIL]) ?></span>
            </div>
            <div>
                <strong><?= $block->escapeHtml(__('Role')) ?>:&nbsp;</strong>
                <span><?= $block->escapeHtml($subUserInfo['role_name']) ?></span>
            </div>
        </div>
    </div>
<?php endif; ?>
